[Desktop Entry]
Type=Application
Name=Settings
Exec=invoker --type=nemomobile -s glacier-settings
Icon=/usr/share/glacier-settings/glacier-settings.png
X-Desktop-File-Install-Version=0.20
Name[ru]=Настройки
