[Desktop Entry]
Type=Application
Name=Settings
Exec=/usr/bin/glacier-settings
Icon=/usr/share/glacier-settings/glacier-settings.png
X-Desktop-File-Install-Version=0.20
Name[ru]=Настройки
Name[cs]=Nastavení
Name[fi]=Asetukset
